/* Toàn bộ nền trang */
body {
  font-family: Arial, sans-serif;
  background: url('image/imageF.png') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 40px;
}

/* Tiêu đề chính */
h1 {
  
  color: #316ada;
}


.hidden {display:none;}
.form-container { transition: opacity 0.4s; }
.toggle-buttons button{
  background-color: #007bff;
  color: rgb(244, 242, 242);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}
.toggle-buttons button.active,
.toggle-buttons button:hover {
  background-color: #0056b3;
}
/* Form đăng nhập/đăng ký */
.form-container {
  margin: 80px auto;
  max-width: 300px;
  color:#fafbfd;
  background: transparent;
  padding: 20px;
  border: 3px solid rgba(12, 0, 0, 0.5);
  border-radius: 10px;
  text-align: left;
}


.form-container label {
  display: block;
  margin: 10px 0 5px;
}
.form-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container button {
  margin-top:auto;
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



